<section class="gradient-custom" style="position: relative !important;" >

  <div class="wave-top wave-fill wave1">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
  </div>

  <div class="container my-5 py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12">
        <div class="text-center mb-4 pb-2">
          <i class="fas fa-quote-left fa-3x text-white"></i>
        </div>

        <div class="my-card" data-aos="zoom-in">
          <div class="card-body px-4 py-5">
            <!-- Carousel wrapper -->
            <div id="carouselDarkVariant" class="carousel slide carousel-dark" data-bs-ride="carousel">
              <!-- Indicators -->
              <div class="carousel-indicators mb-0">
                <button data-bs-target="#carouselDarkVariant" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button data-bs-target="#carouselDarkVariant" data-bs-slide-to="1"
                  aria-label="Slide 1"></button>
                <button data-bs-target="#carouselDarkVariant" data-bs-slide-to="2"
                  aria-label="Slide 1"></button>
              </div>

              <!-- Inner -->
              <div class="carousel-inner pb-4 pt-4">
                <!-- Single item -->
                <div class="carousel-item active">
                  <div class="row d-flex justify-content-center">
                    <div class="col-lg-10 col-xl-8">
                      <div class="row">
                        <div class="col-lg-4 d-flex justify-content-center">
                          <img src="https://images.pexels.com/photos/3823208/pexels-photo-3823208.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                            class="rounded-circle shadow-1 mb-4 mb-lg-0" alt="woman avatar" width="150"
                            height="150" />
                        </div>
                        <div
                          class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0">
                          <h4 class="mb-4">Sarah Johnson - Experienced Yogi</h4>
                          <p class="mb-0 pb-3" style="height: 136px;">
                            "I've been practicing yoga for years and ZenSpace is hands down the best yoga booking platform out there. The filters make it easy to find a class that fits my needs and schedule. I love that I can quickly book and pay for classes without any hassle. Highly recommend!"
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Single item -->
                <div class="carousel-item">
                  <div class="row d-flex justify-content-center">
                    <div class="col-lg-10 col-xl-8">
                      <div class="row">
                        <div class="col-lg-4 d-flex justify-content-center">
                          <img src="https://images.pexels.com/photos/4051518/pexels-photo-4051518.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                            class="rounded-circle shadow-1 mb-4 mb-lg-0" alt="woman avatar" width="150"
                            height="150" />
                        </div>
                        <div
                          class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0">
                          <h4 class="mb-4">Lisa Cudrow - Beginner Yogi</h4>
                          <p class="mb-0 pb-3">
                            "As a beginner to yoga, I was a bit intimidated to try out classes. But with ZenSpace, I was able to filter for beginner classes and find a studio close to my home. The instructors were welcoming and the atmosphere was so peaceful. I've been going to classes regularly ever since!"
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Single item -->
                <div class="carousel-item">
                  <div class="row d-flex justify-content-center">
                    <div class="col-lg-10 col-xl-8">
                      <div class="row">
                        <div class="col-lg-4 d-flex justify-content-center">
                          <img src="https://images.pexels.com/photos/4056529/pexels-photo-4056529.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                            class="rounded-circle shadow-1 mb-4 mb-lg-0" alt="woman avatar" width="150"
                            height="150" />
                        </div>
                        <div
                          class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0">
                          <h4 class="mb-4">John Smith - Yoga Fanatic</h4>
                          <p class="mb-0 pb-3">
                            "I love using ZenSpace to book my yoga classes. The platform is so user-friendly and the search filters make it easy to find exactly what I'm looking for. I've discovered some amazing yoga studios that I would have never found otherwise. Thank you ZenSpace for making my yoga journey even better!"
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Inner -->

              <!-- Controls -->
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselDarkVariant"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselDarkVariant"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <!-- Carousel wrapper -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="spacer" style="height: 1px;"></div>
  <div class="wave-bottom wave-fill wave1">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
    </svg>
  </div>

</section>
